<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Poem 45176</title>
    <link rel="stylesheet" href="styles.css" />
</head>

<body>
    <%- include("./partials/nav.ejs") %>
    <div class="flex-container full-height">
        <div id="graph"></div>
        <div id="side-right">
            <p>
                poem 45176
                <br />
                is an accumulated memory<br />
                is about the place where I grew up<br />
                is autobiographical<br />
                is changing<br />
                is a graph<br />
                is a topology of memories<br />
                is a story with no narrative<br />
                is not a process<br />
                is a state<br />
                but not a one with borders and anthem<br />
                is a place where time is space<br />
                where time is timeless<br />
                it has no beginning<br />
                no center<br />
                no end<br />
                is open<br />
                doesn't have to be finished<br />
                is not a work<br />
                is emerging and dissolving at the same time<br />

                exerts no pressure to be finished <br />
                no pressure to be perfected<br />
                no pressure to get its complexity or its simplicity limited or saturated<br />
                is always and never complete<br />
                because it doesn't know what is complete<br />

                is a vault of <br />
                sounds<br />
                images<br />
                videos<br />
                scores<br />
                texts<br />
            </p>
        </div>
    </div>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="renderer.js"></script>
</body>

</html>