<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>poem 45176 | <%= title %></title>
    <link rel="stylesheet" href="styles.css" />
</head>

<body>
    <%- include("./partials/nav.ejs") %>
    <div class="flex-container">
        <div class="content">
            <div class="video-container">
                <span><%- contentLink %> </span>
            </div>
        </div>
        <div class="discription">
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias corrupti
                cupiditate consequatur debitis dolorum, doloribus deleniti consectetur sint.
                Eius iusto repellendus natus dolores quod, animi cum unde assumenda expedita
                voluptate!
            </p>
        </div>
    </div>
</body>

</html>