@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

body {
    font-family: "IBM Plex Mono";
    font-size: 12px;
    margin: 0;
    height: 100vh;
    background: #f9f7f4;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.full-height {
    height: 100%;
}

#graph {
    flex: 5 1 100px;
    height: 100%;
}

#side-right {
    flex: 1 1 400px;
    text-align: justify;
    padding: 0;
}

#side-right p {
    margin: 0;
    padding: 10px;
}

.node-text {
    font-family: "IBM Plex Mono";
    font-size: 10px;
    text-align: left;
}

.node {
    stroke: #222;
    stroke-width: 1.5px;
}
.node:hover {
    cursor: pointer;
}

.node.Audio {
    fill: rgb(8, 123, 0);
}

.node.Video {
    fill: rgb(212, 0, 124);
}

.link {
    stroke: #999;
    stroke-opacity: 1;
    stroke-width: 1.5px;
}

h1 {
    font-family: "IBM Plex Mono";
    font-size: 14px;
    font-weight: normal;
}

/* node pages styles */
.content {
    flex: 5 1 400px;
    background: red;
    text-align: justify;
    padding: 10px;
}

.discription {
    flex: 1 1 400px;
    background: yellow;
    text-align: justify;
    padding: 10px;
}

.discription p {
    margin: 0;
}

/* 16:9 aspect ratio, padding in percents of the width */
.video-container {
    padding-top: 56.25%;
    position: relative;
}

iframe {
    border: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* nav styles */

nav {
    margin: 0;
}

nav ul {
    padding: 0;
    margin: 8px;
}

nav li {
    list-style-type: none;
}

nav a {
    color: black;
}

@media screen and (max-width: 600px) {
    #graph {
        height: 70%;
    }
}
