@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

body {
    font-family: "IBM Plex Mono";
    margin: 0;
    height: 100vh;
    background: #f9f7f4;
}

.flex-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

#graph {
    flex: 5 0 100px;
    height: 100%;
}

#side-right {
    flex: 1 0 400px;
    font-size: 12px;
    text-align: justify;
    padding: 10px;
}

.node-text {
    font-family: "IBM Plex Mono";
    font-size: 10px;
    text-align: left;
}

.node {
    stroke: #222;
    stroke-width: 1.5px;
}

.node.Audio {
    fill: rgb(8, 123, 0);
}

.node.Video {
    fill: rgb(212, 0, 124);
}

.link {
    stroke: #999;
    stroke-opacity: 1;
    stroke-width: 1.5px;
}

h1 {
    font-family: "IBM Plex Mono";
    font-size: 14px;
    font-weight: normal;
}

iframe {
    border: 0;
}

@media screen and (max-width: 600px) {
    #graph {
        height: 70%;
    }
}
